.full-width-table {
  width: 100%;
  text-align: center  ;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  text-align: center;
}

.mat-form-field {
  margin-right: 10px;
  padding: 10px;
}

.toggle-group {
  margin-left: auto;
}
.filter-select-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
