<div class="filter-select-container">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <mat-select [(ngModel)]="selectedFilter">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let option of filterOptions" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayout.xs="column">
  <ng-container *ngFor="let status of ticketStatuses">
    <div fxFlex="25%" class="status-column">
      <h2>{{ status }}</h2>
      <div class="ticket-card" *ngFor="let complaint of getComplaintsByStatus(status)">
        <mat-card *ngIf="!selectedFilter || selectedFilter === complaint.status">
          <div class="card-header">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="status">Updated Status</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
            <mat-menu #status="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="assign">Assign to</button>
              <button mat-menu-item>Resolved</button>
              <button mat-menu-item>Unassign</button>
              <button mat-menu-item>Under_Progress</button>
            </mat-menu>
            <mat-menu #assign="matMenu">
              <button mat-menu-item>Self</button>
              <button mat-menu-item (click)="openEngineerSuggestionDialog()">Options</button>
            </mat-menu>
            <mat-card-header>
              <mat-card-title>{{ complaint.title }}</mat-card-title>
              <mat-card-subtitle>Status: {{ complaint.status }}</mat-card-subtitle>
            </mat-card-header>
          </div>
          <mat-card-content>
            <p>Description: {{ complaint.description }}</p>
            <p>Raised By: {{ complaint.raisedBy.firstName }} {{ complaint.raisedBy.lastName }}</p>
            <p>Raised On: {{ complaint.raised_On }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>