<div *ngIf="displayData">
  <div class="emp-list-container">
    <h2 class="emptitle">LIST OF {{viewType === 'table' ? dataType.toUpperCase() : 'CARDS'}}</h2>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle-group">
      <mat-button-toggle (click)="viewType = 'table'; " value="bold">
        <mat-icon>format_list_bulleted</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="viewType = 'card'" value="underline">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- LIST TABLE VIEW -->
  <div *ngIf="viewType === 'table'" class="listTable">
    <app-list [data]="data" [dataType]="dataType" [employeeTicketAssignedCounts]="employeeTicketAssignedCounts"
      [engineerTicketAssignedCounts]="engineerTicketAssignedCounts"></app-list>
  </div>


  <!-- CARD VIEW -->
  <div *ngIf="viewType === 'card'" class="cardView">
    <app-card [data]="data" [dataType]="dataType" [employeeTicketAssignedCounts]="employeeTicketAssignedCounts"
      [engineerTicketAssignedCounts]="engineerTicketAssignedCounts"></app-card>
  </div>

</div>

<div *ngIf="displayComplaints">
  <app-ticket [complaints]="complaints" [matchingEngineers]="matchingEngineers" [role]="role"></app-ticket>
</div>

<div class="data" *ngIf="!displayData && !displayComplaints">
  <p>No data found...</p>
</div>