<div class="list-bg" *ngIf="displayData">

  <div class="emp-list-container">
    <div class="title-toggle-container">
        <h2 class="emptitle">LIST OF {{viewType === 'table' ? dataType.toUpperCase() : 'CARDS'}}</h2>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle-group">
            <mat-button-toggle (click)="viewType = 'table'; " value="bold">
                <mat-icon>format_list_bulleted</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="viewType = 'card'" value="underline">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>


  <!-- LIST TABLE VIEW -->
  <div *ngIf="viewType === 'table'" class="listTable">
    <app-table [data]="data" [dataType]="dataType" [employeeTicketAssignedCounts]="employeeTicketAssignedCounts"
      [engineerTicketAssignedCounts]="engineerTicketAssignedCounts"></app-table>
  </div>


  <!-- CARD VIEW -->
  <div *ngIf="viewType === 'card'" class="cardView">
    <app-card [data]="data" [dataType]="dataType" [employeeTicketAssignedCounts]="employeeTicketAssignedCounts"
      [engineerTicketAssignedCounts]="engineerTicketAssignedCounts"></app-card>
  </div>

</div>

<div *ngIf="displayComplaints">
  <app-ticket [complaints]="complaints" [matchingEngineers]="matchingEngineers" [role]="role"></app-ticket>
</div>