<div class="form">
  <div class="heading">
    <h1 class="mat-display-2">{{heading}}</h1>
  </div>
  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="Enter First Name" />
      <mat-error *ngIf="
          adminForm.get('firstName')?.invalid &&
          adminForm.get('firstName')?.touched
        ">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Enter Last Name" />
      <mat-error *ngIf="
          adminForm.get('lastName')?.invalid && adminForm.get('lastName')?.touched  ">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter Username" />
      <mat-error *ngIf="
          adminForm.get('username')?.invalid && adminForm.get('username')?.touched
        ">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter Password" />
      <mat-error *ngIf="
          adminForm.get('password')?.invalid && adminForm.get('password')?.touched
        ">
        Password is required and must be at least 8 characters long
      </mat-error>
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="adminForm.invalid">
      Submit
    </button>
    <button mat-raised-button color="primary" (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
