<div class="form">
  <div class="heading">
    <h1 class="mat-display-2">{{heading}}</h1>
  </div>
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="Enter First Name" />
      <mat-error *ngIf="
          Form.get('firstName')?.invalid &&
          Form.get('firstName')?.touched
        ">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Enter Last Name" />
      <mat-error *ngIf="
          Form.get('lastName')?.invalid && Form.get('lastName')?.touched  ">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter Username" />
      <mat-error *ngIf="
          Form.get('username')?.invalid && Form.get('username')?.touched
        ">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Enter Password" />
      <mat-error *ngIf="
          Form.get('password')?.invalid && Form.get('password')?.touched
        ">
        Password is required and must be at least 8 characters long
      </mat-error>
      <mat-button style="margin: 10px;" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon class="logoutIcon" svgIcon="{{ hide ? 'logout' : 'notVisibleIcon' }}" aria-hidden="false"></mat-icon>
      </mat-button>
    </mat-form-field>

    <div style=" text-align: center;">
      <button mat-raised-button color="primary" type="submit" [disabled]="Form.invalid">
        Submit
      </button>
      <button mat-raised-button color="primary" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>