<div class="wrapper">
  <h2>Add New Admin</h2>
  <form action="#">
    <div class="input-box">
      <input type="text" placeholder="Enter firstname" required>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Enter lastname" required>
    </div>
    <div class="input-box">
      <input type="username" placeholder="Enter Username" required>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Enter password" required>
    </div>

    <div class="input-box button">
      <input type="Submit" value="Add" style="color: white;">
    </div>

  </form>
</div>
