<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="menu-container">
      <button mat-raised-button
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        class="example-button">
        MENU
      </button>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ADMIN </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item (click)="openDialog()">Add new admin</a>
          <a mat-list-item (click)="openDialog()">Remove admin</a>
          <a mat-list-item (click)="openDialog()">List of Admins</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> EMPLOYEE </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item (click)="openDialog()">Add new Employee</a>
          <a mat-list-item (click)="openDialog()">Remove Employee</a>
          <a mat-list-item (click)="openDialog()">List of Employee</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ENGINEER </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item (click)="openDialog()">Add New engineer</a>
          <a mat-list-item (click)="openDialog()">Remove engineer</a>
          <a mat-list-item (click)="openDialog()">List of engineers</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> TICKET </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item (click)="openDialog()">Complaint list</a>
          <a mat-list-item (click)="openDialog()">Complaint status</a>
          <a mat-list-item (click)="openDialog()">Assigned complaint</a>
          <a mat-list-item (click)="openDialog()">Unassigned complaint</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div fxLayout="row" fxLayoutAlign="center center" style="cursor: pointer" class="flex-item">
        <img src="../../../assets/logo.jpg" alt="App Image" class="logo" />
        <span class="logo_name">TicketEase</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" style="cursor: pointer" class="flex-item">
        <img src="../../../assets/image.png" alt="Profile Image" class="image" />
        <span class="name">{{this.loggerName}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout" [ariaSetSize]="50"
              color="warn"></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
