.mat-drawer-content {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  border-radius: 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  width: 99%;
  border-radius: 10px;
  margin:10px
}

.logo {
  size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo_name {
  font-size: 25px;
  font-weight: bold;
  color: #fef8fe;
  text-align: center;
}

.name {
  font-size: 16px;
  font-weight: 400;
  color: #fef8fe;
}

.flex-item {
  flex: 1 0 auto;
  display: flex;
  align-items: center; 
  justify-content: flex-end; }

  .menu-container{
    width: 100%;
    display: flex;
    margin: 10px;
    padding-top: 20px;
    justify-content: center;
  }
