<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <!-- ADMIN -->
    <div *ngIf="this.role==='ADMIN';else EmployeeTemplate">
      <div class="menu-container">
        <button mat-raised-button
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          class="example-button" style="background-color: rgba(239,212,169,1); color: black; font-weight: 550;">
          ADMIN SECTION
        </button>
      </div>
      <mat-accordion>
        <mat-expansion-panel style="margin:10px">
          <mat-expansion-panel-header>
            <mat-panel-title> ADMIN </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a id="a" mat-list-item (click)="openDialog('admin','Add New Admin')">Add new
              admin</a>
            <a id="a" mat-list-item (click)="getAdmin();showDefaultDashboard = false">List of Admin</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel style="margin:10px">
          <mat-expansion-panel-header>
            <mat-panel-title> EMPLOYEE </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a id="a" mat-list-item (click)="openDialog('employee','Create New Employee')">Create Employee</a>
            <a id="a" mat-list-item (click)="getEmployees();showDefaultDashboard = false">List of Employees</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel style="margin:10px">
          <mat-expansion-panel-header>
            <mat-panel-title> ENGINEER </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a id="a" mat-list-item (click)="openDialog('engineer','Create New Engineer')">Create Engineer</a>
            <a id="a" mat-list-item (click)="getEngineer();showDefaultDashboard = false">List of Engineer</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel style="margin:10px">
          <mat-expansion-panel-header>
            <mat-panel-title> TICKET </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a id="a" mat-list-item (click)="getComplaints('complaints');showDefaultDashboard = false">List of
              Complaint</a>
            <a id="a" mat-list-item (click)="getUnassignedComplaints()">Assign Complaints</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- END -->
    <!-- Employee -->
    <ng-template #EmployeeTemplate>
      <div class="menu-container">
        <button mat-raised-button
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          class="example-button" style="background-color: #265190; color: aliceblue;">
          EMPLOYEE SECTION
        </button>
      </div>
      <mat-accordion>
        <mat-expansion-panel style="margin:10px" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> EMPLOYEE </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a id="a" mat-list-item (click)="getComplaints('complaint');showDefaultDashboard = false">List of raised
              Complaint</a>
            <a id="a" mat-list-item (click)="openDialog('employee','Raise New Ticket');">Raise a complaint</a>
            <a id="a" mat-list-item (click)="openComplaintSearchBar();">Search complaint</a>

          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

    </ng-template>
    <!-- END -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div fxLayout="row" fxLayoutAlign="center center" style="cursor: pointer" class="flex-item">
        <img src="../../../assets/logo.jpg" alt="App Image" class="logo" />
        <span class="logo_name">TicketEase</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" style="cursor: pointer" class="flex-item">
        <img src="../../../assets/image.png" alt="Profile Image" class="image" />
        <span class="name">{{this.loggerName}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout" [ariaSetSize]="50"
              color="warn"></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-container *ngIf="showDefaultDashboard; else dashboardTemplate">
      <app-default-dashboard></app-default-dashboard>

    </ng-container>
    <ng-template #dashboardTemplate>
      <app-dashboard [data]="data" [complaints]="complaints" [dataType]="dataType" [role]="role"></app-dashboard>

    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #dialogTemplate>
  <div class="search-container">
    <input type="text" [(ngModel)]="complaintId" placeholder="Search...">
    <button id="search-button" (click)="searchComplaint()">Search</button>
  </div>
</ng-template>