.mat-drawer-content {
  background: #bed4f7;
}

.toolbar {
  background-color: #265190;
}
.mat-expansion-panel{
  margin:10px
}


.sidenav-container {
  height: 100%;
  background-color: #eaebeb;
}

.sidenav {
  width: 300px;
  margin: 1%;
  border-radius: 10px;
  background: linear-gradient(to bottom, #aac5ed, #052550); /* Gradient from light to dark blue */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  width: 99%;
  border-radius: 10px;
  margin:10px
}

.logo {
  size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo_name {
  font-size: 25px;
  font-weight: bold;
  color: #fef8fe;
  text-align: center;
}

.name {
  font-size: 16px;
  font-weight: 400;
  color: #fef8fe;
}

.flex-item {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

  .menu-container{
    text-align: center;
    display: flex;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
  }

  #a {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff; /* White background */
    display: block;
    transition: all 0.3s ease;
    text-align: center;
  }

  #a:hover {
    background-color: #5767f3; /* Light gray background on hover */
    color: #a10e0e; /* Black text color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }

  #a + #a {
    margin-top: 10px; /* Add spacing between list items */
  }


