<div class="grid-container">
  <div class="grid-item-ticket">
    <h2><mat-icon>receipt</mat-icon> Ticket Details</h2>
    <ul>
      <li><span class="label">Title:</span> Title</li>
      <li><span class="label">Description:</span> This is the description text for the item.</li>
      <li><span class="label">Raised By:</span> John Doe</li>
      <li><span class="label">Assigned to:</span> Jane Smith</li>
      <li><span class="label">Status:</span> In Progress</li>
      <li><span class="label">ID:</span> #123456</li>
      <li><span class="label">Date & Time:</span> January 1, 2024 10:00 AM</li>
    </ul>
  </div>
  <div class="grid-item-emp">
    <h2><mat-icon>engineering</mat-icon> Engineer Details</h2>
    <ul>
      <li><span class="label">ID:</span> 001</li>
      <li><span class="label">Name:</span> John Doe</li>
      <li><span class="label">Username:</span> johndoe</li>
    </ul>
    <div class="button-container">
      <button>Assign To</button>
      <button>Remove</button>
    </div>
  </div>
</div>
