.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.grid-item-ticket, .grid-item-emp {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-ticket h2, .grid-item-emp h2 {
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  color: #333;
}

.grid-item-ticket ul, .grid-item-emp ul {
  list-style-type: none;
  padding: 0;
}

.grid-item-ticket ul li, .grid-item-emp ul li {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  color: #555;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 12px 24px;
  background-color: #265190;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-container button:last-child {
  margin-left: 10px;
}

.button-container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
