.custom-dialog {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  background-color: black;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.dialog-header h2 {
  margin: 0;
  font-size: 20px;
  color: aliceblue;
}

.dialog-content {
  padding: 16px;
  margin: 5px 10px 10px 10px;
}

.search-field {
  margin-bottom: 16px;
}

.search-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.engineer-list,
.complaint-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius for a smoother look */
}


.example-radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.example-radio-button:hover {
  background-color: #f0f0f0;
}

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.radio-button:hover {
  background-color: #f0f0f0;
}

.engineer-info {
  padding: 10px;
}

.id, .name, .username {
  margin-bottom: 5px;
}

.id {
  font-weight: bold;
  color: red;
}

.name {
  font-weight: bold;
}

.username {
  color: #666666;
}

.example-radio-button.mat-radio-checked .engineer-info {
  background-color: #d1e8e2;
  border-radius: 5px;
  padding: 10px;
}

.engineer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.engineer-info > div {
  margin-right: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.column:last-child {
  margin-right: 0;
}

.engineer-item.selected {
  background-color: #062327;
}
