.custom-dialog {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  background-color: #3f68b1;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

.dialog-header h2 {
  margin: 0;
  font-size: 20px;
  color: aliceblue;
}

.dialog-content {
  padding: 16px;
}

.search-field {
  margin-bottom: 16px;
}

.search-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

// 
.engineer-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  max-height: 300px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.example-radio-button {
  width: calc(50% - 10px); /* Set width for each column with margin */
  margin: 5px; /* Add margin between items */
  border: 1px solid #CCCCCC; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px;
}

.radio-button {
  width: calc(50% - 10px); /* Set width for each column with margin */
  margin: 5px; /* Add margin between items */
  border: 1px solid #CCCCCC; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px;
}

.engineer-info {
  text-align: left;
}


.id, .name, .username {
  margin-bottom: 5px;
}

.id {
  color: #3498db; /* Blue color for ID */
}

.name {
  font-weight: bold; /* Make the name bold */
}

.username {
  color: #666666; /* Gray color for username */
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.column:last-child {
  margin-right: 0;
}

.engineer-item.selected {
  background-color: #062327;
}


/////////
