<section>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-a">
          <h1>Little<br>Bonsai</h1>
          <span class="price">$79</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
            <a href="#">View detail</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-b">
          <h1>Tropical<br>Leaf</h1>
          <span class="price">$35</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-c">
          <h1>Marijuana<br>Chill</h1>
          <span class="price">$155</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-c">
          <h1>Marijuana<br>Chill</h1>
          <span class="price">$155</span>
          <div class="card-back">
            <a href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>