$transition-time: 2.3s;

.def-card {
	background-color: #fffcf5;
	border-radius: 12px;
	width: 100%;
}

.def-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1%;
  }

.card{
	position: relative;
	height: 200px;
	width: 100%;
	margin: 10px 0 10px 0;
    background: transparent;
    border: transparent;
	transition: ease all $transition-time;
	perspective: 1200px;
	&:hover{
		.cover{
			transform: rotateX(0deg) rotateY(-180deg);
			&:before{
				transform: translateZ(30px);
			}
			&:after{
				background-color: black;
			}
			h1{
				transform: translateZ(100px);
			}
			.price{
				transform: translateZ(60px);
			}
			a{
				transform: translateZ(-60px) rotatey(-180deg);
			}
		}
	}

	.cover{
		position: absolute;
		height: 180px;
		width: 100%;
		transform-style: preserve-3d;
  	transition: ease all $transition-time;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: '';
			position: absolute;
			border: 5px solid rgba(255,255,255,.5);
			box-shadow: 0 0 12px rgba(0,0,0,.3);
			top:20px;
			left:20px;
			right:20px;
			bottom:20px;
			z-index: 2;
			transition: ease all $transition-time;
			transform-style: preserve-3d;
			transform: translateZ(0px);
		}
		&:after{
			content: '';
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index: 2;
			transition: ease all 1.3s;
			background: rgba(0,0,0,.4);
		}
		&.item-a{
			background-image: url(..//..//../assets/admin_bg.avif);
		}
		&.item-b{
			background-image: url(..//..//../assets/emp_bg.avif);
		}
		&.item-c{
			background-image: url(..//..//../assets/eng_bg.avif);
		}
		&.item-d{
			background-image: url(..//..//../assets/ticket_bg.avif);
		}
		h1{
			font-weight: 600;
			position: absolute;
			bottom: 55px;
			left: 50px;
			color: white;
			transform-style: preserve-3d;
  		transition: ease all $transition-time;
			z-index:3;
			font-size: 2em;
			transform: translateZ(0px);
		}
		.price{
			font-weight: 200;
			position: absolute;
			top: 55px;
			right: 50px;
			color: white;
			transform-style: preserve-3d;
  		transition: ease all $transition-time;
			z-index:4;
			font-size: 2em;
			transform: translateZ(0px);
		}
	}
	.card-back{
		position: absolute;
		height: 100%;
		width: 100%;
		background: #0b0f08;
		transform-style: preserve-3d;
  	    transition: ease all $transition-time;
		transform: translateZ(-1px);
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			transform-style: preserve-3d;
			transition: ease transform $transition-time, ease background .5s;
			transform: translateZ(-1px) rotatey(-180deg);
			background: transparent;
			border: 1px solid white;
			font-weight: 500;
			font-size: 13px;
			color: white;
			padding: 12px 26px;
			outline: none;
			text-decoration: none;
			&:hover{
				background-color: white;
				color: #0b0f08;
			}
		}
	}
}

.search-container{
  margin: 10px;
}
