<section>
  <div class="def-row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-a">
          <h1>ADMIN</h1>
          <div class="card-back">
            <a href="#">View detail</a>
            <a href="#">ADD</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-b">
          <h1>EMPLOYEE</h1>
          <div class="card-back">
            <a href="#">View detail</a>
            <a href="#">ADD</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-c">
          <h1>ENGINEER</h1>
          <div class="card-back">
            <a href="#">View detail</a>
            <a href="#">ADD</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-d">
          <h1>TICKET</h1>
          <div class="card-back">
            <a href="#">View detail</a>
            <a href="#">ADD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>